
.pypirc
__pycache__
*.xml
.idea/smartapi-python.iml
build/*
smartapi_python.egg-info
dist/*

# Ignore python virtual environments
venv/
env/
.venv/
# Ignore environment variables
.env

# Ignore log files
logs/
*.log